<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CONN_CADASTRO" connectionString="Data Source=CQI-DEV-0845;Initial Catalog=CADASTRO;User ID=dev;Password=123; Connect Timeout=120000;Application Name=democadastro" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>